@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

/* GENERAL STYLES */
html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  font-family: "Gloria Hallelujah", cursive;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
}

h1 {
  font-size: 3rem;
  padding: 1rem;
}

h2,
h2 > span {
  font-size: 2.5rem;
  padding: 1rem;
}

h3 {
  font-size: 2.4rem;
}

p {
  font-size: 2.2rem;
  padding: 1rem;
}

button {
  font-size: 2.2rem;
  width: 20rem;
  padding: 2rem 3rem;
  cursor: pointer;

  border: none;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);

  background-color: rgba(47, 0, 255, 0.7);
  color: #fff;
}

button:hover {
  background-color: rgba(47, 0, 255, 1);
}

/* MAIN CONTAINER FOR PAE */
.vertical-container {
  width: 80rem;
  height: 70rem;
  position: relative;
  border: 2px solid black;
  border-radius: 2rem;
  /* opacity: 0; */

  background-color: rgba(200, 100, 100, 0.4);

  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  /* animation: fadeIn 2s ease forwards; */
}

/* MAIN PAGE HEADER */
.main-header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* opacity: 0; */

  /* animation: fadeIn 3s ease forwards 1s; */
}

.main-header-section h1 {
  text-shadow: 0px 0px 5px rgb(255, 251, 0);
  text-align: center;
}

.main-header-section span {
  font-size: 2.5rem;
}

.main-header p {
  text-align: center;
  text-shadow: 0px 0px 5px rgb(255, 251, 0);
}

/* GAME AREA */

.game-area h2,
.game-area h3,
.game-area span {
  text-shadow: 0px 0px 5px rgb(255, 251, 0);
  text-align: center;
}

.game-area h3 {
  opacity: 0;
}

.game-area {
  flex: 2;
  height: 35rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  /* opacity: 0; */
  /* animation: fadeIn 3s ease forwards 3s; */
}

.game-boxes {
  display: flex;
  justify-content: space-evenly;
  align-items: top;
}

/* Areas for rock paper and scissor images */
.game-area .game-box {
  width: 20rem;
  height: 20rem;

  border: 2px solid rgb(0, 0, 0);
  border-radius: 1rem;
  opacity: 80%;

  transition: all 0.5s;
}

.game-area .game-box:hover {
  transform: scale(1.2);
  opacity: 100%;
  box-shadow: 0px 0px 1rem rgb(255, 251, 0);
  border-color: rgb(255, 251, 0);
  cursor: pointer;

  transition: all 0.5s;
}

/* ROCK */
.rock {
  border-radius: inherit;
  background: url(../images/rock-cropped.png) center center / cover;
}

/* PAPER */
.paper {
  border-radius: inherit;
  background: url(../images/paper-cropped.png) center center / cover;
}

/* SCISSORS */
.scissors {
  border-radius: inherit;
  background: url(../images/scissors-cropped.png) center center / cover;
}

/* SCORE OUTPUT */
.final-score {
  flex: 2;
  height: 35rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-visible {
  position: absolute;
  width: 0;
  height: 0;
  display: none;

  transition: all 2s ease;
}

/* animation */
.fade-in {
  animation: fadeIn 1s ease;
}

.fade-in-out {
  animation: fadeInOut 4s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
